/* src/components/Navigation.css */

header {
  position: fixed;
  top: 0;
  width: 100%;
  background: linear-gradient(to bottom, #007a99, #66ccff); /* Teal gradient */
  border-bottom: 4px solid #b3ecff; /* Light blue shade on the edge */
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  z-index: 1000;
}

header nav {
  display: flex;
  justify-content: space-between; /* Space between for left and right alignment */
  align-items: center;
  padding: 1rem;
}

.nav-left {
  display: flex;
  align-items: center;
}

header nav a, header nav button {
  margin: 0 1rem; /* Add margin to space out the buttons */
  text-decoration: none;
  color: #fff; /* White text color */
  font-weight: bold;
  cursor: pointer;
  background: none;
  border: none;
}

header nav img {
  height: 40px; /* Adjust the height as needed */
  cursor: pointer;
}
